<section class="vh-100" style="background-color: #508bfc;">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Sign in</h3>
                        <form class="form-signin" (ngSubmit)="login()">
                            <div class="form-group">
                                <div class="form-floating mb-4">
                                    <input type="text" id="userName" name="userName" [(ngModel)]="username" class="form-control form-control-lg" >
                                    <label class="form-label" for="userName">Username</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password" id="inputPassword" name="inputPassword"  [(ngModel)]="password" class="form-control form-control-lg">
                                    <label class="form-label" for="inputPassword">Password</label>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block w-100" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
